<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/pure-min.css" />
  <link rel="stylesheet" href="/vlink.css" />
  <title>vLink</title>
</head>

<div>
<h1>vLink - Create simple, easy-to-remember links</h1>
<h4>Type "http://vlink/my-great-link" instead of "http://www.npr.org/sections/thetorch/2016/08/18/490564349/usain-bolt-goes-for-eighth-olympic-gold-in-the-200m"</h4>
</div>

<% if flash[:errors] %>
  <div class="error">
    <%= "ERRORS: #{flash[:errors]}" %>
  </div>
<% end %>

<div>
<h2>Create New Link</h2>
<%= form('/', :post) %>
<% fieldset(:link) do |f| %>
  <%= f.input(:name) %>
  <%= f.input(:target) %>
<% end %>
<%= submit %>
</div>

<div>
<h2>Current Links</h2>
<table class="pure-table pure-table-horizontal">
<thead>
  <tr>
    <th>vlink</th>
    <th>Destination</th>
  </tr>
</thead>
  <% @links.each do |link| %>
    <tr>
      <td><%= link.name %> </td>
      <td><%= "<a href=#{link.target}>#{link.target}</a>" %></td>
    </tr>
  <% end %>
</table>
</div>
