<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/vlink.css" />
  <title>vLink</title>
</head>

<h1>Welcome to vLink</h1>

<div class="error">
  <% if flash[:errors] %>
    <%= flash[:errors] %>
  <% end %>
</div>

Create New Link
<div>
<%= form('/', :post) %>
<% fieldset(:link) do |f| %>
  <%= f.input(:name) %>
  <%= f.input(:target) %>
<% end %>
<%= submit %>
</div>

<div class="link_list">
<h2>Current Links</h2>
<div class="lTable">
<div class="lRow">
  <div class="lTableHead">vlink</div>
  <div class="lTableHead">Destination</div>
  <% @links.each do |link| %>
    <div class="lRow">
      <div class="lTableCell"><%= link.name %> </div>
      <div class="lTableCell"><%= "<a href=#{link.target}>#{link.target}</a>" %></div>
    </div>
  <% end %>
</div>
</div>
