<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="skeleton.css"
  <link rel="stylesheet" href="/vlink.css" />
  <title>vLink</title>
</head>

<body>
<div class="container">
<div>
<h2><strong>vLink - Create simple, easy-to-remember links</strong></h2>
</div>

<% if flash[:errors] %>
  <div class="error">
    <%= "ERRORS: #{flash[:errors]}" %>
  </div>
<% end %>

<div>
<h3>Create New Link</h3>
<%= form('/', :post) %>
<% fieldset(:link) do |f| %>
  <%= f.input(:name, {:value => flash[:name]}) %>
  <%= f.input(:target, {:value => flash[:target]}) %>
<% end %>
<%= submit %>
</div>

<div>
<h3>Current Links</h3>
<table class="u-full-width">
<thead>
  <tr>
    <th>Name</th>
    <th>Target</th>
  </tr>
</thead>
  <% @links.each do |link| %>
    <tr>
      <td><%= link.name %> </td>
      <td><%= "<a href=#{link.target}>#{link.target}</a>" %></td>
    </tr>
  <% end %>
</table>
</div>
</body>
</div>
