<h1>Welcome to vLink</h1>

Create New Link
<%= form('/', :post) %>
<%= input(:link) %>
<%= input(:target) %>
<%= submit %>

Current Links
<table>
  <th>vlink</th>
  <th>Destination</th>
  <% @links.each do |link, target| %>
    <tr>
    <td><%= link %></td>
    <td><%= "<a href=#{target}>#{target}</a>" %></td>
    </tr>
  <% end %>
</table>
