<h1>Welcome to vLink</h1>

<div>
  <% if !@error.nil? %>
    <li><%= error %></li>
  <% end %>
</div>


<div>
Create New Link
<%= form('/', :post) %>
<% fieldset(:link) do |f| %>
  <%= f.input(:link) %>
  <%= f.input(:target) %>
<% end %>
<%= submit %>
</div>

<div>
Current Links
<table>
  <th>vlink</th>
  <th>Destination</th>
  <% @links.each do |link, target| %>
    <tr>
    <td><%= link %></td>
    <td><%= "<a href=#{target}>#{target}</a>" %></td>
    </tr>
  <% end %>
</table>
</div>
