<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="/vlink.css" />
  <title>vLink</title>
</head>

<h1>Welcome to vLink</h1>

<% if flash[:errors] %>
  <div class="error">
    <%= "ERRORS: #{flash[:errors]}" %>
  </div>
<% end %>

<div>
<h2>Create New Link</h2>
<%= form('/', :post) %>
<% fieldset(:link) do |f| %>
  <%= f.input(:name) %>
  <%= f.input(:target) %>
<% end %>
<%= submit %>
</div>

<div>
<h2>Current Links</h2>
<table class="pure-table pure-table-horizontal">
<thead>
  <tr>
    <th>vlink</th>
    <th>Destination</th>
  </tr>
</thead>
  <% @links.each do |link| %>
    <tr>
      <td><%= link.name %> </td>
      <td><%= "<a href=#{link.target}>#{link.target}</a>" %></td>
    </tr>
  <% end %>
</table>
</div>
